*{
    margin: 2px;

}

main{

  display: flex; 
  flex-flow: column wrap;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px;
  background-color: #eaeaea;

}

.main-header{
  
    color: rgb(255, 255, 255);
    background-color: #1F2937;
    margin: 20px;
    padding: 20px;
    border: 2px dashed #ffffff;

}




nav{
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--font-body);
  width: 100%;
  max-width: 1200px;
  padding: var(--padding);
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--font-body);
  width: 100%;
  max-width: 1200px;
  padding: var(--padding);
}



.Le-Fishe-Au-Chocolat img,
.la-rotation-du-le-fishe img,
.le-Fishe-du-métro img,
.le-fishe-philosophe img {
              
    border: 7px dashed #1F2937;         
    margin: 20px;                       
    padding: 20px;                      
    box-sizing: border-box;            
}


.Le-Fishe-Au-Chocolat p,
.la-rotation-du-le-fishe p ,
.le-Fishe-du-métro p ,
.le-fishe-philosophe p {
 background-color: #1F2937;
 color: antiquewhite;
 display: flex;
 margin: 20px;
 padding: 20spx;
 justify-content: center;
   border: 2px dashed #ffffff;


}




blockquote {
  font-size: 100px;
 
  background-size: cover;
  margin: auto;     
  padding: 180px; 
  
}
.quotes{
    font-family: "Lobster", sans-serif;
    color: #eaeaea;
    display: flex;
    align-content: center;
    align-self: center;
     background-color: #1F2937;  
     border: 12px;
     margin: 12px;
}
.qfish{
      font-family: "Lobster", sans-serif;
    font-style:italic;
    font-size: 43px;
}

.call-to-action {
  font-size: 2.5rem;
  color: white;
  background-color: #3882f6;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Lobster", sans-serif;
  margin: 80px auto;
  padding: 40px 60px;
  text-align: left;
  max-width: 90%;
  box-sizing: border-box;
  flex-wrap: wrap;   
}


.call-to-action-text p {
  margin: 0;
  font-size: 28px;
}

.call-to-action-button {
  font-family: "Lobster", sans-serif;
  font-size: 1.2rem;
  background-color: #3882f6;
  border-radius: 8px;
  color: white;
  border: 2px solid white;
  height: 45px;
  width: auto;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}
@media (max-width: 768px) {
  .call-to-action {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .call-to-action-button {
    align-self: flex-end;
  }
}

.call-to-action-button:hover {
  border: 2px dashed white;
  background-color: #1F2937;
}

