footer {
  display: flex;
  justify-content: center;      
  align-items: center;         
  padding: 17px 0;             
  font-family: "Lobster", sans-serif;
  color: #eaeaea;
  background: #1F2937;
  text-align: center;
}
