footer {
  margin: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 0;
  padding-left: 12px;
  font-family: "Lobster", sans-serif;
  color: #eaeaea;
  background: #1F2937;
}
