

header {
 display: flex; 
  flex-flow: column wrap;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px;
  background-color: #1F2937;
  
}

nav {
  display: flex;
    gap: 900px;                      

  justify-content: space-between; 
  align-items: center;           
  padding: 0 40px;               
  background-color: #1F2937;

}

.nav-links {
  
  display: flex;
  justify-content: space-around; 
  gap: 30px;                      
  list-style: none;
   margin: 25.8px;
  padding: 0px;
  list-style-type: none;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
 
}

h1 {

 margin: -36.4px;
padding: 39.2px;

  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-size: 68px;
  font-style: normal;
  color: #F9FAF8;
}

h2 {
  margin: 25.8px;
  padding: 0px;

    font-size: 18px;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #F9FAF8;
}

.button-top {
    margin: 25.8px;
  padding: 0px;

  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  width: 100px;
  height: 45px;
  background-color: white;
  color: black;
  border: 2px dashed #607aad;
  border-radius: 8px;
  transition: background-color 0.8s ease, color 0.8s ease, transform 0.8s ease;
}

.button-top:hover {
  background-color: #607aad;
  color: white;
  transform: translateY(-1px); 
}


.lefishe-gif {
  display: flex;
    margin: 25.8px;
  padding: 0px;
    border: 2px dashed #ffffff;

}
a {
  color: #F9FAF8;
  text-decoration: none;

}

a:hover {
  color: #607aad;
    transition: 0.8s;

}

.hover-translate {
  position: relative;
  display: inline-block;
  cursor: help;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.9s ease;
  white-space: nowrap;
  pointer-events: none;
}

.hover-translate-h2:hover .tooltip {
  opacity: 1;
}


.hover-translate-h2 {
  position: relative;
  display: inline-block;
  cursor: help;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.9s ease;
  white-space: nowrap;
  pointer-events: none;
}

.hover-translate:hover .tooltip {
  opacity: 1;
}
